.sidenav-container {
      height: 100vh;
    }
    .sidenav {
      width: 200px;
    }
    .main-content {
      padding: 16px;
    }
    .active {
      font-weight: bold;
      color: #d35400;
    }
    .list{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      height:100vh;
    }
    .inspiration {
  width: 300px;
  max-height: 200px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.quote {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 8px;
  max-height: 120px;
}

.author {
  text-align: right;
  font-style: italic;
  color: #555;
}
