

.landingContainer{
    height: 100vh;
    width: 100vw;
    //background-image: url(https://wallpapers.com/images/hd/animated-space-1920-x-1280-background-jn1ps9h3m5vi04ss.jpg);
    
    background-image: linear-gradient(#083466,#084783);
}
nav{
    padding: 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background: none;
    
}
.btn:hover{
    background-color: rgb(11, 101, 180);
    color: white;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options p{
    margin: 16px;
}
.productName{
    font-size: x-large;
    font-weight: bold;
    margin: 8px;
    display: flex;
    align-items: center;

}

.productName p{
    margin: 8px;
}
.signupBtn{
    margin: 8px;
    padding: 8px;
    border: none;
    border-radius:16px;
}
p{
    text-align: center;
    color: aliceblue;
}
.moon{
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 35%;
    left:15%;
    box-shadow: 0px 0px 100px rgba($color: white, $alpha: 1); 
    animation: zoom 2s forwards linear;
    transition: transform 1s;
}
.content{
   position: absolute;
   top: 40%;
   left:50%;
   
   
}
h1{
    padding-bottom: 6px;
    margin-bottom:26px ;
    color: aliceblue;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid aliceblue;
    animation: typewriter 2s steps(30) forwards ,blink 1s steps(20) infinite normal;
    
}
button{
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    color: rgb(12, 65, 87);
    font-size:medium;
    
}
.sky {
    position: absolute;
    width: 100%;
    height: 200px; /* Adjust as needed */
    overflow: hidden;
    bottom: 0%;
}

.cloud {
    position: absolute;
    display: flex;
    width: 200%;
}
.cloud img{
    width: 50%;
    
}

.cloud2 {
    bottom: -4%;
    z-index: 3;
    animation: driftRight 80s linear infinite;
    //opacity: .7;
}


.cloud1 {
    bottom: 5%;
    z-index: 2; /* behind cloud2 */
}

.cloud3 {
    bottom: 17%;
    z-index: 1; /* behind both */
    animation: driftLeft 110s linear infinite;
}

@keyframes typewriter{
    from{
        width: 0%;
        
    }
    to{
        width: 100%;
      
    }
}
@keyframes blink {
    from{
        border-color: aliceblue;
    }to{
        border-color: #1a3669;
    }
}
@keyframes driftRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes driftLeft {
    0%{
        transform:translateX(0%);  
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes zoom {
    from{
        scale: .8;
    }
    to{
        scale:1;
    }
}






