<div class="landingContainer">
  <nav>
    <div class="productName"><p>Company</p></div>
    <div class="options">
      <p>Link1</p>
      <p>Link2</p>
      <p>Link3</p>
      <button class="signupBtn">Sign-up</button>
    </div>
  </nav>
  <!-- <ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles> -->
  <img
    class="moon"
    src="https://static.typingclub.com/m/tpmedia/img/moon.png"
    alt=""
  />
  <div class="content">
    <h1>Where Goodness begins!</h1>
    <button>Get Started</button>
  </div>
  <div class="sky">
    <div class="cloud cloud2">
      <img src="../../../assets/clouds2.png" alt="white" />
      <img src="../../../assets/clouds2.png" alt="white" />
    </div>
    
    <div class="cloud cloud1">
      <img src="../../../assets/clouds1.png" alt="whitish" />
    </div>

    <div class="cloud cloud3">
      <img src="../../../assets/clouds3.png" alt="dark" />
      <img src="../../../assets/clouds3.png" alt="dark" />
    </div>
    
  </div>
</div>
