html{
    height: 100%;
    padding: 8px;
}
body {
min-height: 100%;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.alert-danger{
    color: rgb(212, 0, 255);
}
form{
    background-color:beige;
    border-radius: 10px;
    box-shadow: 4px 3px #eae4e3; 

}
input,button{
    margin: 10px;
}
.submitBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
button{
    background-color: chocolate;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 5px;
}
.heading{
    display: flex;
    justify-content: center;
}