<div class="main">
<form [formGroup]="userForm" (ngSubmit)="submitForm()" style="padding:50px">
  <div>
    <div class="heading "><h2>Sign Up</h2></div>
    
    <input 
      type="text"
      id="name"
      name="name"
      formControlName="name"
      placeholder="Name"
      required
    >
    @if (userForm.get('name')?.invalid &&(userForm.get('name')?.dirty || userForm.get('name')?.touched)){
      <div class="alert alert-danger">
        @if(userForm.get('name')?.hasError('minlength')){
          <div>
            Name must be at least 4 characters long.
          </div>
        }
      </div>
    }
  </div>
  <div>
    
    <input 
      type="text"
      id="email"
      name="email"
      formControlName="email"
      placeholder="Email"
    />
  </div>
  <div>
    
    <input 
      type="address"
      id="address"
      name="address"
      formControlName="address"
      placeholder="Address"
    />
  </div>
  @if (userForm.get('address')?.invalid &&(userForm.get('address')?.dirty || userForm.get('address')?.touched)){
      <div class="alert alert-danger">
        @if(userForm.get('address')?.hasError('minlength')){
          <div>
            Address must be at least 5 characters long.
          </div>
        }
      </div>
    }
  <div class="submitBtn">
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </div>
  
</form>
</div>